<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConfigI9Cluster</servlet-name>
        <servlet-class>br.com.easynet.easyportal.cluster.ConfigI9Cluster</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Per_perfilService</servlet-name>
        <servlet-class>br.com.i9.portal.server.rpc.Per_perfilServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usu_usuarioService</servlet-name>
        <servlet-class>br.com.i9.portal.server.rpc.Usu_usuarioServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ope_operacaoService</servlet-name>
        <servlet-class>br.com.i9.portal.server.rpc.Ope_operacaoServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Men_menuService</servlet-name>
        <servlet-class>br.com.i9.portal.server.rpc.Men_menuServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mep_men_perService</servlet-name>
        <servlet-class>br.com.i9.portal.server.rpc.Mep_men_perServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Met_metodoService</servlet-name>
        <servlet-class>br.com.i9.portal.server.rpc.Met_metodoServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Opm_met_ope_perService</servlet-name>
        <servlet-class>br.com.i9.portal.server.rpc.Opm_met_ope_perServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sis_sistemaService</servlet-name>
        <servlet-class>br.com.i9.portal.server.rpc.Sis_sistemaServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pu_per_usuTService</servlet-name>
        <servlet-class>br.com.i9.portal.server.rpc.Pu_per_usuTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Res_recall_senhaService</servlet-name>
        <servlet-class>br.com.i9.portal.server.rpc.Res_recall_senhaServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Par_parametroService</servlet-name>
        <servlet-class>br.com.i9.portal.server.rpc.Par_parametroServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogService</servlet-name>
        <servlet-class>br.com.i9.portal.server.rpc.LogServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigI9Cluster</servlet-name>
        <url-pattern>/ConfigI9Cluster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Per_perfilService</servlet-name>
        <url-pattern>/br.com.i9.portal.Main/rpc/per_perfilservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usu_usuarioService</servlet-name>
        <url-pattern>/br.com.i9.portal.Main/rpc/usu_usuarioservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ope_operacaoService</servlet-name>
        <url-pattern>/br.com.i9.portal.Main/rpc/ope_operacaoservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Men_menuService</servlet-name>
        <url-pattern>/br.com.i9.portal.Main/rpc/men_menuservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mep_men_perService</servlet-name>
        <url-pattern>/br.com.i9.portal.Main/rpc/mep_men_perservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sis_sistemaService</servlet-name>
        <url-pattern>/br.com.i9.portal.Main/spc/sis_sistemaservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sis_sistemaService</servlet-name>
        <url-pattern>/br.com.i9.portal.Main/rpc/sis_sistemaservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Met_metodoService</servlet-name>
        <url-pattern>/br.com.i9.portal.Main/rpc/met_metodoservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Opm_met_ope_perService</servlet-name>
        <url-pattern>/br.com.i9.portal.Main/rpc/opm_met_ope_perservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sis_sistemaService</servlet-name>
        <url-pattern>/br.com.i9.portal.Main/rpc/sis_sistemaservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pu_per_usuTService</servlet-name>
        <url-pattern>/br.com.i9.portal.Main/rpc/pu_per_usutservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Res_recall_senhaService</servlet-name>
        <url-pattern>/br.com.i9.portal.Main/rpc/res_recall_senhaservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Par_parametroService</servlet-name>
        <url-pattern>/br.com.i9.portal.Main/rpc/par_parametroservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogService</servlet-name>
        <url-pattern>/br.com.i9.portal.Main/rpc/logservice</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>31</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
